.Edit-flex-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.Edit-box {
    display: grid;
    place-items: center;
}
.Edit-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #117a8b;
    text-align: center;
}
.Edit-box .user-box input{
    font-size: 16px;
    color: #117a8b;
    border-style: solid;
    outline: none;
    width: 100px;
    background: transparent;
}
.Edit-box .user-box label{


    padding: 10px;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}
.search-bar{
    display: flex;
    justify-content: center;
    padding: 1.5rem;


}
.select-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 1.5rem;
    margin-left: 20rem;
}
@media screen and (max-width: 1000px) {


    .select-bar {
        display: grid;
        margin-left: 10rem;
    }
}
@media screen and (max-width: 558px) {


    .select-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }
}
@media screen and (max-width: 750px) {


    .Edit-flex-box{
        display: grid;

        grid-template-columns: 1fr;

    }
}