
.login-background{
    width: auto;
    height: 667px;
    background: lightblue;
}
.login-box{
    position: absolute;
    top: 25rem;
    left: 50%;
    width: auto;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #117a8b;
    text-align: center;
}
.login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #117a8b;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #117a8b;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -85px;
    left: 0;
    color: deepskyblue;
    font-size: 12px;
}

#submit {
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid deepskyblue;
    margin: auto;
}

#submit:hover {
    background: deepskyblue;
    color: #117a8b;
    border-radius: 5px;
    box-shadow: 0 0 5px deepskyblue, 0 0 25px deepskyblue, 0 0 50px deepskyblue, 0 0 100px deepskyblue;
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color: #CBBDDB;
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a {
    margin: auto;
    color: deepskyblue;
    text-decoration: none;
}
.popup_title{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    font-size: x-large;
}
.popup_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    font-size: x-large;
    margin: 1rem;
}