.properties-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 2rem;
    padding: 20px 50px;
    color: black;
}
.properties-container .box{
    background: whitesmoke;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: #6E6E6E;
}
.properties-container .box:hover{
    transform: translateY(-20px);
    transition: 1s;
}
.properties-container .box img {
    border-radius: 1rem;

    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 447px) {


    .properties-container .box img {
        width: 290px;
    }
}
@media screen and (max-width: 375px) {


    .properties-container .box img {
        width: 255px;
    }
}
.properties-container .box h3{
    font-size: 1rem;
    font-weight: 600;
}
.properties-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.properties-container .box .content .text  h3{
    font-weight: 500;

}
.properties-container .box .content .text  p{
    font-size: 0.8rem;

}
.properties-container .box .content .icon{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: #117a8b;

}
.properties-container .box .content .icon .bx{
    display: flex;
    align-items: center;
   font-size: 20px;

}
.properties-container .box .content .icon span{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;

}
.waviyBody {
    display: flex;
    justify-content: center;
    align-items: center;
}
.waviy {
    position: relative;
}
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #d39e00 ;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * 1)
}
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg)
    }
}
.walkingWords{
    display: flex;
    justify-content: center;
    color: cornflowerblue;
    font-size: 13px;

    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.walkingWords span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.walkingWords span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.walkingWords span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    font-weight: bold;
    color:   #231557;
}

.walkingWords span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    font-weight: bold;
    color:   #231557;
}


@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
.MyEstateBody{
    display: flex;
    clear: both;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.MyEstate {
    position: relative;
}

.MyEstate h2 {
    color: #fff;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.MyEstate h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.MyEstate h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}


.messageBody {
    color: #333;
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 600px;
}

.messageBody span {
    font-size: 30px;
    margin-left: 40px;
}
.message {
    color: #333;
    display: block;
    overflow: visible;
    position: absolute;
    top: 0.2rem;
    left: 150px;
    animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
    font-family: cursive;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }
    5% {
        width: 0;
    }
    15% {
        width: 230px;
    }
    30% {
        top: 0.2rem;
        width: 230px;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -4.5rem;

    }
    48% {
        top: -4.5rem;
        width: 190px;
    }
    62% {
        top: -4.5rem;
        width: 190px;
    }
    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -9rem;
        width: 285px;
    }
    95% {
        top: -9rem;
        width: 285px;
    }
    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}